@page "/HomePage"
<div class="page GooseGround">
    <div class="login-wrap" style="margin-top: 50px;">
	<div class="login-html" >
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Erreur</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" style="visibility:hidden">Sign Up</label>
		<div class="login-form">
			<div style="margin-top : 100pt;">
				<h3 style="color:white; display: inline;">Bienvenue sur ton compte !</h3>
			</div>

		</div>
	</div>
</div>
</div>
@code {

}
